* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  color: #fff;
  background-color: #1a1a1a;
}

/*////////////// header section styling  ////////////////////*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  height: 10vh;
}

.logo h1 {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
}

.logo h1 span {
  color: #e63946;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links li {
  text-align: center;
  list-style-type: none;
}

.nav-links a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 10px;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s;
}

.nav-links a:hover {
  color: #e63946;
}

/*////////////// hero section styling  ////////////////////*/
.hero {
  background-image: url("./assets/images/heroimage1.jpg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.hero-content {
  padding: 40px;
}

.hero-content h1 {
  font-size: 3.1rem;
  margin-bottom: 10px;
  color: #fff;
}

.hero-content p {
  font-size: 1.6rem;
  color: #eaeaea;
  margin-bottom: 20px;
}

.hero-content button {
  padding: 15px 30px;
  background-color: #e63946;
  color: #fff;
  border: none;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hero-content button:hover {
  background-color: #d62839;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    height: auto;
    align-items: center;
    padding: 10px 0;
  }

  .logo h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .nav-links {
    flex-direction: column;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    align-items: center;
  }

  .nav-links li {
    width: 100%;
  }

  .nav-links a {
    font-size: 1.2rem;
    padding: 13px;
    display: block;
    text-align: center;
  }

  .hero {
    background-position: center;
  }

  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 15px;
  }

  .hero-content p {
    margin-bottom: 30px;
    font-size: 1.5rem;
  }

  .hero-content button {
    font-size: 1rem;
    padding: 10px 20px;
  }
}
